<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiancuisine.asiancuisine.mapper.IPostMapper">
    <!-- Insert statement to save post -->
    <insert id="savaPost" useGeneratedKeys="true">
        <!-- Assuming you have a table named `posts` -->
        INSERT INTO post (user_id, title, text
        <if test="tags != null and tags != ''">
            , tags
        </if>
        )
        VALUES (#{userId}, #{title}, #{text}
        <if test="tags != null and tags != ''">
            , #{tags}
        </if>
        )
    </insert>

    <insert id="savaImage">
        INSERT INTO post_image (post_id, uri)
        VALUES
        <foreach collection="uris" item="uri" separator=",">
            (#{postId}, #{uri})
        </foreach>
    </insert>

    <insert id="saveTags">
        INSERT INTO tags (tag)
        VALUES
        <foreach collection="tags" item="tag" separator=",">
            (#{tag})
        </foreach>
    </insert>
</mapper>