<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiancuisine.asiancuisine.mapper.IUserMapper">
<!--    手动映射-->
    <resultMap id="dataMap" type="com.asiancuisine.asiancuisine.entity.User">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="email_address" property="emailAddress"/>
        <result column="password" property="password"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName" />
        <result column="sex" property="sex" typeHandler="com.asiancuisine.asiancuisine.enums.SexTypeHandler" />
        <result column="nick_name" property="nickName"/>
        <result column="icon" property="icon" />
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryByEmailAddress" resultMap="dataMap">
        select id, email_address, password, first_name, last_name, sex, nick_name, icon, create_time, update_time
        from user
        where email_address = #{emailAddress}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (email_address, password, first_name, last_name, sex, nick_name, icon, create_time, update_time)
        VALUES (#{emailAddress}, #{password}, #{firstName}, #{lastName}, #{sex}, #{nickName}, #{icon}, NOW(), NOW())
    </insert>

<!--    <select id="queryById" resultType="com.asiancuisine.asiancuisine.entity.User">-->
<!--        select id, phone, password, nickName,icon,createTime,updateTime-->
<!--        from user-->
<!--        where id = #{id}-->
<!--    </select>-->

</mapper>
